<h1>User Profile</h1>
<h2>Current Reservations:</h2>

<br>

 <% @user.reservations.each do |r| %>
 	<%= r.restaurant.name %><br> 
 	Seats: <%= r.party_size %><br> 
 	<%= r.date %> | <%= r.time.strftime("%H:%M") %> <br>
 	<%= link_to "Cancel Reservation", r, :confirm => "Are you sure you want to cancel this reservation?", :method => :delete %>
 	<hr width="33%" align="left"> <br>
 <% end %>

