<h1><%= @restaurant[:name] %></h1>



<p><%= @restaurant[:address] %><p>
<p><%= @restaurant[:neighbourhood] %></p>
<p><%= @restaurant[:price] %></p>
<p><%= @restaurant[:cuisine] %></p>
<p><%= @restaurant[:summary] %></p>